

<div class='container'>
  <form action='/sessions' method='post'>
    Email: <input type='text' name='email'>
    Password:<input type='password' name='password'>
    <input type='submit' value='Sign in'>
  </form>
  Not got an account? <a href='/users/new'>Click here</a> to sign up!
</div>
