
<ul id="kennel">
  <% current_user.pads.each do |pad| %>
    <li>
      <%= pad.name %>
      <%= pad.location %>
      <%= pad.price %>
    </li>
    <li>
      <% Booking.all.each do |booking| %>
        <% if booking.pad_id == pad.id %>
          <%= booking.date %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
