<% unless current_user.bookings == [] %>
<ul id="my_bookings">
  <% current_user.bookings.each do |booking| %>
  <li>
    <%= booking.date %>
    <% Pad.all.each do |pad| %>
      <% if booking.pad_id == pad.id %>
        <%= pad.name %> 
        <%= pad.location %>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>
<% else %>
  You have no bookings
<% end %>

<form action="/pads" method="get">
  <button type="submit" value="View Pads">
    View Pads
  </button>
</form>
