<form action='/users' method='post'>

<% if flash[:errors] && !flash[:errors].empty? %>
  <div>
    <% flash[:errors].each do |error| %>
    <div id="error">
    <%= error %>
    </div>
    <% end %>
  </div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-sm-4'></div>

    <div class='col-sm-4'>

      <div class='panel panel-default'>
        <div class='panel-heading text-center'>
          <h3 class='panel-title'>Sign Up to PoochPads</h3>
        </div>
      </div>


      <div class="input-group">
        <input type="text" class="form-control" name='email' placeholder="Email" required>
      </div>

      <div class="input-group">
        <input type="password" class="form-control" name='password' placeholder="Password" required>
      </div>

      <div class="input-group">
        <input type="password" class="form-control" name='password_confirmation' placeholder="Confirm Password" required>
      </div>

      <div>
        <input type='submit' value='Sign up' class="btn btn-primary btn-block">
      </div>

    </div>

    <div class='col-sm-4'></div>

  </div>
</div>

</form>
