
<div class='container'>
  <div class='row'>
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <div class='page-header text-center'>

      <% if @confirmed_pad.user == current_user %>
        <h1>Error, you cannot book your own pad<h1>
      <% elsif @confirmed_booking.date == "" %>
        <h1>Error, please specify a date</h1>
      <% else %>
        <h1>You successfully booked: </h1>
        <h1><%= @confirmed_pad.name %></h1>
        <h2>on <%= @confirmed_booking.date %></h2>
      </div>
      <div class='well'>
        The booking has been added to the "My Bookings" page
      </div>
      <%end%>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

