
<body>
<div class='container'>
  <div class='row'>
    <div class='page-header text-center'>
      <h1>Book a Pad</h1>
    </div>
  </div>
</div>
<form action='/users/kennel' method='get'>
  <button type='submit' value='My Kennel'>
    My Kennel
  </button>
</form>

<form action='/pads/new' method='get'>
  <button type='submit' value='List a Pad'>
    List a pad
  </button>
</form>

<ul id="pads">
  <% @pads.each do |pad| %>
    <li>
      <%= pad.name %>
      <%= pad.location %>
      <%= pad.price %>
      <form action='/pads/<%= pad.id %>' method='post'>
        <input type='submit' value='Book Pad'>
      </form>
    </li>
  <% end %>
</ul>



</body>
