<form action='/pads' method='post'>

  <label>
    Name of Pad
    <input type='text' name='name' required>
    Price of Pad
    <input type='number' min='1' name='price' required>
    Location of Pad
    <input type='text' name='location'>
    About your Pad
  </label>
  <textarea rows='3' cols='50' name='about'></textarea>

  <button type='submit' value='Submit'>
    Submit
  </button>
</form>
