<div class='container'>
  <div class='row'>
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class="page-header text-center">
        <h1>List a Pad</h1>
      </div>

      <form action='/pads' method='post'>
        <div class="input-group">
          <input type='text' class='form-control' placeholder='Name of Pad' name='name' required>
        </div>
        <div class="input-group">
          <input type='number' min='1' class='form-control' placeholder='Price (per night)' name='price' required>
        </div>
        <div class="input-group">
          <input type='text' class='form-control' placeholder='Location of Pad' name='location' required>
        </div>
        <div class="input-group">
          <textarea rows='3' cols='50' class='form-control' placeholder='Details about Pad' name='about'></textarea>
        </div>
        <div class="input-group">
          <input type='submit' class="btn btn-primary btn-block" value='Submit'>
        </div>
      </form>
    </div>
  </div>
</div>
