House name: <%= @selected_pad.name %><br />

<form action='/pads/confirmation' method='post'>
  Choose Date: <input type="date" name="booking_date"><br />

  <% if @selected_pad.available %>
    <button type='submit' value='Confirm Request'>
      Confirm Request
    </button>
  <% else %>
    This pad is full of poochies at the moment!
  <% end %>
</form>

Price: £<%= @selected_pad.price %><br />
Location: <%= @selected_pad.location %><br />
About: <%= @selected_pad.about %>
