
div.input-group {
  margin-bottom: 10px;
  width: 100%;
}

.navbar-brand>img{
  width: 30px;
  height: 30px;
}

.navbar-brand {
  padding: 10px;
}

body {
  padding-top: 70px;
  background-color: #cfbbac;
}

#navbar-buttons {
  margin-left: 5px;
}

html, body {
  height: 100%;
}

div#map {
  margin-top: 20px;
}

button#submit {
  margin-top: 20px;
}

div#date {
  margin-top: 20px;
}
/* div#details { */
/*   background-color: #d79d72; */
/*   border-radius: 20px; */
/*   opacity: 50%; */
/*   padding: 10px; */
/* } */
