<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta charset="utf-8">
    <title>PoochPads</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='/pads'>
            <img alt="Brand" src="https://image.flaticon.com/icons/svg/235/235405.svg">
          </a>
          <p class="navbar-text">PoochPads</p>
        </div>

          <% if current_user %>
            <ul class='nav navbar-nav navbar-right'>
            <li>
              <form action='/pads/new' method='get'>
                <button  id='navbar-buttons' class='btn btn-default navbar-btn' type='submit' value='List a Pad'>
                  List a Pad
                </button>
              </form>
            </li>

            <li>
              <form action='/users/kennel' method='get'>
                <button  id='navbar-buttons' class='btn btn-default navbar-btn' type='submit' value='My Kennel'>
                  My Kennel
                </button>
              </form>
            </li>

            <li>
              <form action='/users/my_bookings' method='get'>
                <button  id='navbar-buttons' class='btn btn-default navbar-btn' type='submit' value='My Bookings'>
                  My Bookings
                </button>
              </form>
            </li>

            <li>
              <form action='/sessions' method='post'>
                <input type='hidden' name='_method' value='delete'>
                <input id='navbar-buttons' type='submit' value='Sign out' class='btn btn-default navbar-btn'>
              </form>
            </li>
          </ul>
          <% else %>
            <form action='/sessions/new' method='get'>
              <button type='submit' class='btn btn-default navbar-btn navbar-right'>Sign In</button>
            </form>
          <% end %>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
